.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#inputbox {
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  border: 2px solid #1C86EE;
  background-color: transparent;
  padding: 20px; 
  width: 250px;
  height: 20px;    
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
  width: 300px;
  padding: 50px;
}